<div class="col-md-6 mx-auto text-center mt-5">
    <div class="card">
        <div class="card-header">
            <h3>Editar postulación </h3>
        </div>
        <div class="card-body">
            <form action="/employee/post/{{post.id_publicacion}}" method="POST">
              


                <div class="form-group">
                 <label for="fecha">Trabajo</label>
                 <input type="text" name="trabajo" value="{{post.trabajo}}" class="form-control" placeholder="Trabajo" required>
                  </div>


                <div class="form-group">
                <label for="productos">Descripcion</label>
                <textarea name="descripcion" class="form-control" placeholder="Lista de Productos" rows="5" required>{{post.descripcion}}</textarea>
                </div>


            <div class="form-row col-8 mx-auto">
          <div class="col-12 mx-auto mb-3">Horario Laboral</div>
          <div class="col-8  mx-auto mb-5">
              <select  class="form-control" name="horario">
    <option value="PART-TIME">PART-TIME</option>
    <option value="FULL-TIME">FULL-TIME</option>

  </select>
            </div>
          </div>
              


                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Editar postulación </button>
                </div>
            </form>
        </div>
    </div>
</div>