<div class="card mx-auto mt-5" style="width: 38rem;">

  <div class="card-body">
    <h5 class="card-title text-center">Plan Mensual Contactapp</h5>

  </div>

      <h5 class="container" style="text-align: justify;">    Al cancelar tu suscripcion Mensual de Contactapp, ya no podras ver el historial de los usuarios ni la reseña que da cada uno de los trabajadores anteriores
 </h5>
<h6 class="mt-3 mx-auto">   Estas seguro que deseas Cancelar tu suscripcion?</h6>

  <div class="card-body">
<form action="/company/cancel-suscription" method="post" onsubmit="return confirm('Realmente Desea Cancelar su suscripcion?');">
 
<button type="submit" class="card-link btn btn-danger btn-block">Cancelar Suscripcion</button>

</form>
  </div>
</div>