<div class="card mx-auto mt-5" style="width: 38rem;">

  <div class="card-body">
    <h5 class="card-title text-center">Plan Mensual Contactapp</h5>

  </div>

      <h5 class="container" style="text-align: justify;">    Al suscribirte, podras ver el historial de los usuarios y la reseña que da cada una de las empresas anteriores
 </h5>


  <div class="card-body">
<form action="/company/mercadopago" method="post"  target="_blank">

<button type="submit" class="card-link btn btn-success btn-block"> Suscribirse</button>

</form>
  </div>
</div>