
<div  style="  margin-top:1%;" >

<div class="row justify-content-center mx-auto col-md-10 align-items-center ">
<div class="card border-primary col-md-12 mx-auto text-center offset-md-1">
 
  <div class="card-body">
     
    <div class="col-md-11 form-row mx-auto ">


        <!--Buscar Cliente-->
        <div class="mx-auto col-md-4 row justify-content-center mb-1">
            <a href="/employee/search" class="btn btn-success btn-block">
                <i class="fa fa-search  fa-3x" aria-hidden="true"></i>
                <h3>Buscar Ofertas de Trabajo</h3>
            </a>
        </div>
        <!--div que cierra el boton de busqueda-->


        <!--Registrar Cliente-->
        <div class="mx-auto col-md-4 row justify-content-center mb-1 ">
            <a href="/employee/new-post" class="btn btn-success btn-block"><i class="fa fa-plus fa-3x"></i>
                <h3>postularme a un nuevo empleo</h3> </i>
            </a>
        </div>
 <div class="mx-auto col-md-4 row justify-content-center mb-1 ">
            <a href="/employee/posts" class="btn btn-success btn-block" type="submit"><i class="fa fa-list fa-3x"></i>
                <h3>ver mis postulaciones</h3> </i>
            </a>
        </div>
         <div class="mx-auto col-md-6 row justify-content-center mb-1 ">
            <a href="/employee/notifications" class="btn btn-primary btn-block" type="submit"><i class="fa fa-bell-o fa-3x" aria-hidden="true"></i>
                <h3>Bandeja de Notificaciones</h3> </i>
            </a>
        </div>
                     <div class="mx-auto col-md-6 row justify-content-center mb-1 ">
            <a href="/employee/companies" class="btn btn-primary btn-block" type="submit"><i class="fa fa-handshake-o fa-3x"></i>
                <h3>Trabajos Actuales</h3> </i>
            </a>
        </div>




    </div> <!--div que cierra el contenedor principal-->


  </div>
</div>

</div>





  </div>
       
  

