
  <link rel="stylesheet" href="/css/404.css">

    <div id="error-page">
      <div class="content">
        <h2 class="header" data-text="404">
404</h2>
<h4 data-text="Opps! Pagina no encontrada">
Opps! Pagina no encontrada</h4>
<p>
    Lo sentimos, la página que estás buscando no existe.</p>
<div class="btns">
          <a href="/">Inicio</a>
 
        </div>
</div>
</div>
</body>
</html>
