<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.ico" type="image/gif" sizes="16x16">
  <title>Contactapp</title>

  {{!-- BOOTSTRAP 4 --}}
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  {{!-- FONT AWESOME 5 --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
  {{!-- STYLES --}}
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  {{>navigation}}
  {{>message}} 
  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  {{{ body }}}

  {{!-- SCRIPTS --}}




</body>
</html>