
<div class="container mt-3 ">
    <div class="jumbotron">
  <h1 class="display-4 text-center">Correo Reenviado satisfactoriamente</h1>
  <p class="lead">Para terminar con su registro, se envio a su correo electronico una direccion donde podra activar su cuenta.</p>
  <hr class="my-4">
   <p>El email se ha enviado satisfactoriamente, si en su bandeja principal no lo encuentra, se recomienda:</p>
      <p>que en el caso de usar outlook se vaya a la seccion de correos no deseados </p>
    <p>En caso de que use gmail diríjase a la parte seccion de spam, ahi se podra encontrar con nuestro correo de verificacion de email</p>
    
  

<a href="/signin" class="btn btn-primary btn-block"> Iniciar Session</a>

</div>

</div>
