
<div class="container mt-3 ">
    <div class="jumbotron">
  <h1 class="display-4 text-center">Felicitaciones!!</h1>
  
  <hr class="my-4">
  <h2 class="lead">Tu cuenta se ha verificado y activado satisfactoriamente</h2>
    <a href="/signin"  class="btn btn-primary btn-block">Iniciar sesión 
</a>
</div>

</div>
